* {
    font-family: sans-serif;
    list-style-type: none;
}

h1 {
    font-family: 'Roboto', serif;
}

.tocTitle {
    text-align: center;
}


.content {
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 1%;
    grid-template-areas: 
      "intro intro intro sidebar"
      "intro intro intro sidebar"
      "contentsBox contentsBox . sidebar"
      "contentsBox contentsBox . .";
}

.contentsBox {
    box-sizing: border-box;
    width: 500px;
    border: 1px solid grey;
    background-color: rgb(240, 240, 240);
    float: left;
    font-size: 13px;
    line-height: 21px;  
    grid-area: contentsBox; 
}

.sidebar {
    
    padding: 8px;
    box-sizing: border-box;
    width: 250px;
    border: 1px solid grey;
    background-color: rgb(240, 240, 240);
    grid-area: sidebar;
}

.sidebarTitle {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}

.caption {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.infoItem {
    display: grid;
    grid-template-columns: 35% 65%;
    font-size: 12px;
    line-height: 18px;
}

.photo {
    margin-left: 15px;
}

.intro {
    font-size: 14px;
    clear: both;
    grid-area: intro;
}

.contentsSection {
    margin-left: 0px;
}

.subSection {
    margin-left: 0px;
}

span {
    display: inline-block;
    margin-right: 10px;
}

.subSection li a span:hover {
    text-decoration: underline;
}
